
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8b3176;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.Todo-list {
  
    background-color: rgba(168, 22,118, 1);
    max-width: 600px;
    width: 90%;
    
    padding: 60px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}
li{
    height: 6cap;
    
}
h1 {
    color: black;
}
.input-container {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}
#input-box{
    padding: 4px;
    flex: 1;
    border: 2px solid rgba(255, 16, 240, 1);
    border-radius: 8px;
    height: 5cap;

  
}
sortBtn{
   
        padding: 20px;
        
        margin-bottom: 100px;
        border-radius: 10px;
        background-color: rgba(255, 16, 240, 1);
        color: antiquewhite;
        border-color: white;
        cursor: pointer;
    
}
#addBtn{
    
        padding: 20px;
        
        margin-bottom: 100px;
        border-radius: 10px;
        background-color: rgba(255, 16, 240, 1);
        color: antiquewhite;
        border-color: white;
        cursor: pointer;
    
}
button{
    padding: 10px;
    margin-bottom: 100px;
    border-radius: 10px;
    background-color: rgba(255, 16, 240, 1);
    color: antiquewhite;
    border-color: white;
    cursor: pointer;
}
button:hover {
    background-color: #6a2459;
}



ul {
    list-style: none;
    padding: 0;
}

li {
    background-color:pink;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.pink-container {
    background-color: rgba(255, 16, 240, 1);
    border: 2px solid white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.pink-container p {
    margin: 0;
    font-style: italic;
}
@media screen and (max-width: 600px) {
    .Todo-list {
        width: 80%;
    }

    #input-box,
    button {
        width: 100%;
    }
}